In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../../resources/raw_traffic_data.csv', sep='[,;:]' ,index_col=False)
data.head(10)

C:\Users\hp\AppData\Local\Temp\ipykernel_20004\792201054.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('../../resources/raw_traffic_data.csv', sep='[,;:]' ,index_col=False)
C:\Users\hp\AppData\Local\Temp\ipykernel_20004\792201054.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv('../../resources/raw_traffic_data.csv', sep='[,;:]' ,index_col=False)

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0
5,6,Medium Vehicle,159.97,17.451502,37.978152,23.737120,0.0000,0.0000,0.0000,0.0
6,7,Motorcycle,153.91,22.895895,37.978145,23.737161,0.0000,0.0000,0.0000,0.0
7,8,Car,158.21,21.739084,37.978230,23.737089,0.0000,0.0000,0.0000,0.0
8,9,Car,161.01,21.154471,37.978185,23.737128,0.0000,0.0000,0.0000,0.0
9,10,Car,159.53,18.891989,37.978190,23.737050,4.0538,0.1084,-0.0000,0.0